:root {
    --blue: #009abc;
    --red: #e1224b;
    --gray: #364f57;
    --black: #283b41;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: var(--black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}