<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesa - Job Matching System</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/mainpage.css">
    {% for module in modules %}
    <link rel="stylesheet" href="{{ module['css_path'] }}">
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/lenis@1.1.14/dist/lenis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
    <script src="/static/js/animation.js" defer></script>
    <script src="/static/js/events.js" defer></script>
    <script src="/static/js/transcript.js" defer></script>
    <script src="/static/js/fileUpload.js" defer></script>
    <script src="/static/js/submit.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- <div class="header">
        <h1>Available Modules</h1>
        {% if request.cookies.access_token %}
        <p>Üdvözöljük, {{ request.cookies.access_token | decode_jwt }}</p>
        {% else %}
        <a class="login-button" href="/login">Login</a>
        {% endif %}
    </div> -->
    <section class="main-page">
        <!-- {% for module in modules %}
        <div class="module-card">
            <img src="{{ module['img_path'] }}" alt="{{ module['name'] }} logo">
            <h3>{{ module['name'] }}</h3>
            <p>{{ module['description'] }}</p>
            <a href="{{ module['url'] }}">Go to module</a>
        </div>
        {% endfor %} -->
        <svg id="triangle" viewBox="0 0 246 285" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.75 18.2254L226 142.5L10.75 266.775L10.75 18.2254Z" stroke="transparent" stroke-width="20" />
        </svg>
        <div class="side left">
            <img class="bg" src="/static/img/left.jpg" alt="I'm looking for a job">
            <div class="content">
                <h2>I'm <span>looking</span> for a job</h2>
            </div>
            <div class="small-content">
                <p>I'm <span>looking</span> for a job</p>
            </div>
            <div class="card">
                <div class="scroll-container">
                    <h3>We will show you the job that fits you the most!</h3>
                    <h5>Upload your CV here:</h5>
                    <input type="file" id="cv" name="cv" accept=".pdf">
                    <div class="file-selector">
                        <img src="/static/img/file.png" alt="Upload file">
                        <p>Click here, or drag and drop your CV</p>
                </div>
                </div>
            </div>
        </div>
        <div class="side right">
            <img class="bg" src="/static/img/right.jpg" alt="I'm offering a job">
            <div class="content">
                <h2>I'm <span>offering</span> a job</h2>
            </div>
            <div class="small-content">
                <p>I'm <span>offering</span> a job</p>
            </div>
            <div class="card">
                <div class="scroll-container">

                    <h3>We will show you the applicants who best fit the job description!</h3>
                    <div class="input-group">
                        <label for="industry">Industry</label>
                        <select id="industry" name="industry">
                            <option value="" disabled selected>Choose industry</option>
                            <option value="Technology">Technology</option>
                            <option value="Banking and Finance">Banking and Finance</option>
                            <option value="Healthcare and Life Sciences">Healthcare and Life Sciences</option>
                            <option value="Retail and E-commerce">Retail and E-commerce</option>
                            <option value="Manufacturing and Industry 4.0">Manufacturing and Industry 4.0</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label>
                            Write the job description, drag and drop a document here, or
                            <a class="transcript-button">use voice transcription</a>:
                        </label>
                        <textarea id="job-description" name="job-description" rows="7"></textarea>
                    </div>
                    <div class="input-group">
                        <label for="keywords">Keywords</label>
                        <div class="keywords">
                            <div class="line">
                                <input type="text" id="keyword-1" name="keyword-1" placeholder="Skill/attribute">
                                <input type="text" id="weight-1" name="weight-1" placeholder="Weight" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                <span>%</span>
                                <span class="delete">&times;</span>
                            </div>
                        </div>
                        <a class="add-keyword">+ Add keyword</a>
                    </div>
                    <button id="submit-job" class="primary-link">Submit</button>
                </div>
            </div>
        </div>
    </section>
    <div class="loader">
        <div class="inner">
            <img src="/static/img/loader.gif" alt="Loading...">
            <p>Analyzing data...</p>
        </div>
    </div>
    <div class="microphone">
        <div class="inner">
            <div class="icon">
                <img src="/static/img/microphone.png" alt="Voice transcription">
            </div>
            <button class="transcript-button primary-link">Stop transcript</button>
        </div>
    </div>
</body>
</html>
