<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesa - Job Matching System</title>
    <link rel="stylesheet" href="/static/css/global.css">
    {% for module in modules %}
    <link rel="stylesheet" href="{{ module['css_path'] }}">
    {% endfor %}
</head>
<body>
    <!-- <div class="header">
        <h1>Available Modules</h1>
        {% if request.cookies.access_token %}
        <p>Üdvözöljük, {{ request.cookies.access_token | decode_jwt }}</p>
        {% else %}
        <a class="login-button" href="/login">Login</a>
        {% endif %}
    </div> -->
    <div class="main-page">
        <!-- {% for module in modules %}
        <div class="module-card">
            <img src="{{ module['img_path'] }}" alt="{{ module['name'] }} logo">
            <h3>{{ module['name'] }}</h3>
            <p>{{ module['description'] }}</p>
            <a href="{{ module['url'] }}">Go to module</a>
        </div>
        {% endfor %} -->
        <svg id="triangle" viewBox="0 0 246 285" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.75 18.2254L226 142.5L10.75 266.775L10.75 18.2254Z" stroke="transparent" stroke-width="20" />
        </svg>
        <div class="left">
            <img src="/static/img/acc-logo.png" alt="Accesa logo">
        </div>
    </div>
</body>
</html>
